@import "./bower_components/bulma/css/bulma.css";
@import "./bower_components/font-awesome/css/font-awesome.css";

hr.spacer {
  background-color: transparent ;
  height: 24px;
  padding: 0;
  margin: 0;
}

.hero.is-dark .menu-label,
.hero.is-black .menu-label,
.hero.is-primary .menu-label,
.hero.is-success .menu-label,
.hero.is-info .menu-label,
.hero.is-danger .menu-label {
  color: white;
}

.hero.is-warning .menu-label,
.hero.is-light .menu-label,
.hero.is-white .menu-label {
  color: black;
}

.hero.is-primary .menu-list a:hover {
  background-color: #ffffff;
  color: #00d1b2;
}

.hero.is-success .menu-list a:hover {
  background-color: #ffffff;
  color: #23d160;
}

.hero.is-info .menu-list a:hover {
  background-color: #ffffff;
  color: #3273dc;
}

.hero.is-warning .menu-list a:hover {
  background-color: #000000bb;
  color: #ffdd57;
}

.hero.is-danger .menu-list a:hover {
  background-color: #ffffff;
  color: #ff3860;
}

.hero.is-primary hr:not(.spacer),
.hero.is-success hr:not(.spacer),
.hero.is-info hr:not(.spacer),
.hero.is-danger hr:not(.spacer) {
  background-color: #ffffff;
}

.hero.is-warning hr:not(.spacer) {
  background-color: #000000bb;
}
